In [1]:
import pymongo

## Connecting to the mongoDB instances locally

In [2]:
#This package enables us to connect to the database
dbConn = pymongo.MongoClient("mongodb://127.0.0.1:27017/")#Connecting to the locally running mongoDb instances

## Creating the new Database

In [3]:
dbname = 'demoDB' #Name of the database
db = dbConn[dbname] #this creates a new database if there is no existing database with the mentioned name

In [19]:
#Displays the list of databases
dbConn.list_database_names()

['admin', 'config', 'demoDB', 'local']

## Check if there is any particular database is present or not

In [17]:
#check if database is existing in mongoDB
dblist= dbConn.list_database_names()
db_name = 'demoDB'
if db_name in dblist:
    print("The database is present")
else:
    print("There is no database with name:",db_name)

The database is present

## Creating new Collection

In [23]:
#Connecting to a collection -------- Collections are analogous to tables
collection_name = 'new_demo'
collection = db[collection_name] #Connecting to connection itself in the database

In [24]:
#Checking if a collection is present or not
if collection_name in db.list_collection_names():
    print("The collection is available")
else:
    print("There is no collection with the name:",collection_name)

The collection is available

# MONGODB Opertaions

## Inserting a single row

In [29]:
# inserting row into the collection
my_row = {'Serial No': '21',
 'GRE Score': '307',
 'TOEFL Score': '108',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.60',
 'Research': '1',
 'Chance of Admit': '0.92'} # creating key value pairs for inserting into the DB

In [30]:
x = collection.insert_one(my_row) #Inserting a record into the collection

In [34]:
x.inserted_id #Unique ID for the insert

ObjectId('5ead59824c49558dd5a295e5')

## Inserting multiple rows

In [35]:
# inserting multiple rows once
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [36]:
x = collection.insert_many(my_rows) #Inserting multiple records into the collection

In [39]:
x.inserted_ids #Unique id's of the inserted records

[ObjectId('5ead5c164c49558dd5a295e6'),
 ObjectId('5ead5c164c49558dd5a295e7'),
 ObjectId('5ead5c164c49558dd5a295e8'),
 ObjectId('5ead5c164c49558dd5a295e9'),
 ObjectId('5ead5c164c49558dd5a295ea')]

## Retrieving the records from the Database

In [41]:
#Retrieving all the records from the collection
result = collection.find({})
result[10] #Retrieving the 11th record in terms of index value

{'_id': ObjectId('5ead33ff7ff3f30f081208ad'),
 'Serial No': '11',
 'GRE Score': '325',
 'TOEFL Score': '106',
 'University Rating': '3',
 'SOP': '3.5',
 'LOR': '4',
 'CGPA': '8.4',
 'Research': '1',
 'Chance of Admit': '0.52'}

whenever we are calling the find() method, if we have too many rows/records in the table, then we'll get too many responses for that which might overwhelm the application. To overcome this scenario, we have a way in mongoDB to have an upper limit on the number of rows returned.

It is called the <b>limit()</b> method.

In [43]:
#Retrieving with some upper limit
result = collection.find({}).limit(5)
for res in result:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208a3'), 'Serial No': '1', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a4'), 'Serial No': '2', 'GRE Score': '324', 'TOEFL Score': '107', 'University Rating': '4', 'SOP': '4', 'LOR': '4.5', 'CGPA': '8.87', 'Research': '1', 'Chance of Admit': '0.76'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a5'), 'Serial No': '3', 'GRE Score': '', 'TOEFL Score': '104', 'University Rating': '3', 'SOP': '3', 'LOR': '3.5', 'CGPA': '8', 'Research': '1', 'Chance of Admit': '0.72'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a6'), 'Serial No': '4', 'GRE Score': '322', 'TOEFL Score': '110', 'University Rating': '3', 'SOP': '3.5', 'LOR': '2.5', 'CGPA': '8.67', 'Research': '1', 'Chance of Admit': '0.8'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a7'), 'Serial No': '5', 'GRE Score': '314', 'TOEFL Score': '103', 'University Rating': '2', 'SOP': '2', 'LOR': '3', 'CGPA': '8.21', 'Research': '0', 'Chance of Admit': '0.65'}

In [45]:
#Retrieving the records based on column limitation
result = collection.find({},{'GRE Score','TOEFL Score'}).limit(5)
for res in result:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208a3'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a4'), 'GRE Score': '324', 'TOEFL Score': '107'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a5'), 'GRE Score': '', 'TOEFL Score': '104'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a6'), 'GRE Score': '322', 'TOEFL Score': '110'}
{'_id': ObjectId('5ead33ff7ff3f30f081208a7'), 'GRE Score': '314', 'TOEFL Score': '103'}

In [48]:
#Retrieving the records based on conditions
my_db_query={'GRE Score':'307'}
result = collection.find(my_db_query)
for res in result:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208b0'), 'Serial No': '14', 'GRE Score': '307', 'TOEFL Score': '109', 'University Rating': '3', 'SOP': '4', 'LOR': '3', 'CGPA': '8', 'Research': '1', 'Chance of Admit': '0.62'}
{'_id': ObjectId('5ead33ff7ff3f30f081208ca'), 'Serial No': '40', 'GRE Score': '307', 'TOEFL Score': '108', 'University Rating': '2', 'SOP': '4', 'LOR': '3.5', 'CGPA': '7.7', 'Research': '0', 'Chance of Admit': '0.48'}
{'_id': ObjectId('5ead33ff7ff3f30f081208e0'), 'Serial No': '62', 'GRE Score': '307', 'TOEFL Score': '101', 'University Rating': '3', 'SOP': '4', 'LOR': '3', 'CGPA': '8.2', 'Research': '0', 'Chance of Admit': '0.47'}
{'_id': ObjectId('5ead33ff7ff3f30f08120956'), 'Serial No': '180', 'GRE Score': '307', 'TOEFL Score': '102', 'University Rating': '3', 'SOP': '3', 'LOR': '3', 'CGPA': '8.27', 'Research': '0', 'Chance of Admit': '0.73'}
{'_id': ObjectId('5ead33ff7ff3f30f08120966'), 'Serial No': '196', 'GRE Score': '307', 'TOEFL Score': '107', 'University Rating': '2', 'SOP': '3', 'LOR': '3.5', 'CGPA': '8.52', 'Research': '1', 'Chance of Admit': '0.78'}
{'_id': ObjectId('5ead33ff7ff3f30f081209a2'), 'Serial No': '256', 'GRE Score': '307', 'TOEFL Score': '110', 'University Rating': '4', 'SOP': '4', 'LOR': '4.5', 'CGPA': '8.37', 'Research': '0', 'Chance of Admit': '0.79'}
{'_id': ObjectId('5ead33ff7ff3f30f081209c5'), 'Serial No': '291', 'GRE Score': '307', 'TOEFL Score': '105', 'University Rating': '2', 'SOP': '2.5', 'LOR': '3', 'CGPA': '7.65', 'Research': '0', 'Chance of Admit': '0.58'}
{'_id': ObjectId('5ead34007ff3f30f08120a26'), 'Serial No': '388', 'GRE Score': '307', 'TOEFL Score': '105', 'University Rating': '2', 'SOP': '2', 'LOR': '3.5', 'CGPA': '8.1', 'Research': '0', 'Chance of Admit': '0.53'}
{'_id': ObjectId('5ead34007ff3f30f08120a71'), 'Serial No': '463', 'GRE Score': '307', 'TOEFL Score': '105', 'University Rating': '4', 'SOP': '3', 'LOR': '3', 'CGPA': '7.94', 'Research': '0', 'Chance of Admit': '0.62'}
{'_id': ObjectId('5ead34007ff3f30f08120a8d'), 'Serial No': '491', 'GRE Score': '307', 'TOEFL Score': '105', 'University Rating': '2', 'SOP': '2.5', 'LOR': '4.5', 'CGPA': '8.12', 'Research': '1', 'Chance of Admit': '0.67'}
{'_id': ObjectId('5ead59824c49558dd5a295e5'), 'Serial No': '21', 'GRE Score': '307', 'TOEFL Score': '108', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.60', 'Research': '1', 'Chance of Admit': '0.92'}

In [51]:
my_db_query = {'GRE Score':{'$gt':'337'}} #retrieving the records inwhich the GRE score is greater than 337
result_GRE = collection.find(my_db_query,{'GRE Score','SOP'}) #Retrieving few columns based on their names
for res in result_GRE:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208bc'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208c3'), 'GRE Score': '338', 'SOP': '3'}
{'_id': ObjectId('5ead33ff7ff3f30f081208c4'), 'GRE Score': '340', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f081208d2'), 'GRE Score': '339', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f4'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f7'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f0812090e'), 'GRE Score': '338', 'SOP': '3.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120925'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f08120932'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120937'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f0812096d'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120977'), 'GRE Score': '338', 'SOP': '5'}
{'_id': ObjectId('5ead33ff7ff3f30f081209bf'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a0d'), 'GRE Score': '338', 'SOP': '4.5'}
{'_id': ObjectId('5ead34007ff3f30f08120a23'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a50'), 'GRE Score': '340', 'SOP': '5'}

In [53]:
#Sorting of the records based on one column
result_GRE = collection.find(my_db_query,{'GRE Score','SOP'}).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208c3'), 'GRE Score': '338', 'SOP': '3'}
{'_id': ObjectId('5ead33ff7ff3f30f0812090e'), 'GRE Score': '338', 'SOP': '3.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120977'), 'GRE Score': '338', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a0d'), 'GRE Score': '338', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208d2'), 'GRE Score': '339', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120925'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f08120937'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f081208bc'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208c4'), 'GRE Score': '340', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f4'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f7'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120932'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f0812096d'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081209bf'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a23'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a50'), 'GRE Score': '340', 'SOP': '5'}

In [54]:
#Sorting in descending order
result_GRE = collection.find(my_db_query,{'GRE Score','SOP'}).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5ead33ff7ff3f30f081208bc'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208c4'), 'GRE Score': '340', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f4'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208f7'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120932'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f0812096d'), 'GRE Score': '340', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f081209bf'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a23'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a50'), 'GRE Score': '340', 'SOP': '5'}
{'_id': ObjectId('5ead33ff7ff3f30f081208d2'), 'GRE Score': '339', 'SOP': '4.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120925'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f08120937'), 'GRE Score': '339', 'SOP': '4'}
{'_id': ObjectId('5ead33ff7ff3f30f081208c3'), 'GRE Score': '338', 'SOP': '3'}
{'_id': ObjectId('5ead33ff7ff3f30f0812090e'), 'GRE Score': '338', 'SOP': '3.5'}
{'_id': ObjectId('5ead33ff7ff3f30f08120977'), 'GRE Score': '338', 'SOP': '5'}
{'_id': ObjectId('5ead34007ff3f30f08120a0d'), 'GRE Score': '338', 'SOP': '4.5'}

## Deleting the records from the database

In [56]:
my_db_query={'GRE Score':'307'}
x=collection.delete_one(my_db_query) #Deleting a single record
print(x.deleted_count)

1

We have succesfully deleted one row/record from the collection.

Similarly, for deleting multiple rows, we can use <b>collection.delete_many(my_deb_query)</b>

For deleting all documents of a collection, we can use <b>collection.delete_many({})</b>

In [59]:
x = collection.delete_many({'GRE Score':'317'}) #Deleting multiple records
print(x.deleted_count)

15

## Drop the records

In [60]:
#For dropping the entire collection in the database
collection_to_drop = db['mongo_demo'] #Drops the entire collection names mongo_demo
collection_to_drop.drop()

## Updating the records

In [62]:
#Updating the values present in the collection
update_criteria = {'GRE Score':'337'}
new_values = {'$set':{'GRE Score':'340'}}
x = collection.update_many(update_criteria,new_values)
print(x.modified_count)

5

We have updated the nine columns with GRE Score 340 with GRE Score 350.

Similarly, we can update only one row by using the function <b>update_one(update_criteria, new_values)</b>